# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
/.bsp
/.idea
/target
/project/target/.sbt-compilation-infos
/project/target/scala-2.12
/project/target/config-classes
/project/target/streams